{% extends 'base.html.twig' %}

{% block title %}Properties{% endblock %}

{% block body %}
    <ul>
        {% for item in items %}
            <li>
                <a href="{{ path('inventory_get', {'id': item.id}) }}">{{ item.name }}</a>
            </li>
        {% endfor %}
    </ul>

    <a class="btn btn-primary" href="/inventory/add">Add</button>
{% endblock %}
