{% extends 'base.html.twig' %}

{% block title %}Properties{% endblock %}

{% block body %}
    <ul>
        {% for property in properties %}
            <li>
                <a href="{{ path('property_get', {'id': property.id}) }}">{{ property.name }}</a>
            </li>
        {% endfor %}
    </ul>

    <form method="GET" action="{{ path('property_add') }}">
        <button class="btn btn-primary" type="submit" name="action" value="add">Add</button>
    </form>
{% endblock %}
