{% extends 'base.html.twig' %}

{% block title %}Items{% endblock %}

{% block body %}
    <ul>
        {% for item in items %}
            <li>
                <a href="{{ path('inventory_get', {'id': item.id}) }}">{{ item.name }}</a>
            </li>
        {% else %}
            <p>No items. Would you like to <a href="{{ path('inventory_add') }}">add one</a>?</p>
        {% endfor %}
    </ul>

    <a class="btn btn-primary" href="{{ path('inventory_add') }}">Add</a>
{% endblock %}
