{% extends 'base.html.twig' %}

{% block title %}Properties{% endblock %}

{% block body %}
    <ul>
        {% for item in items %}
            <li>
                <a href="{{ path('inventory_get', {'id': item.id}) }}">{{ item.name }}</a>
            </li>
        {% endfor %}
    </ul>

    <form method="GET" action="{{ path('inventory_add') }}">
        <button class="btn btn-primary" type="submit" name="action" value="add">Add</button>
    </form>
{% endblock %}
