{% extends 'base.html.twig' %}

{% block title %}Items{% endblock %}

{% block body %}
    <table class="table table-striped table-hover">
        <tbody>
            {% for item in items %}
                <tr>
                    <td><a href="{{ path('inventory_get', {'id': item.id}) }}">{{ item.name }}</a></td>
                </tr>
            {% else %}
                <tr>
                    <td>No items. Would you like to <a href="{{ path('inventory_add') }}">add one</a>?</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-primary" href="{{ path('inventory_add') }}?return_to=list">Add</a>
{% endblock %}
