<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Personal Inventory{% endblock %}</title>
        <link href="https://stackpath.bootstrapcdn.com/bootswatch/4.1.2/lumen/bootstrap.min.css" rel="stylesheet" integrity="sha384-DpS/eLfynIHe4VoTvBOlpX0ZpfGcdiVqiuGV1HMseFS7alAFrE8UaFtVuynuQ0Nn" crossorigin="anonymous">
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
